.App {
  font-family: 'Acme', sans-serif;
}

.App__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin: 50px auto 0 auto;
  width: 90%;
  max-width: 900px;
}

.App__header {
  position: fixed;
  top: 0;
  background-color: rgb(255, 65, 65);
  height: 50px;
  width: 100%;
  text-align: center;
  display: flex;
  /* line-height: 50px; */
}

.App__header__h1 {
  margin-top: 0;
  margin-left: 15px;
  font-size: 2.5rem;
  font-weight: 700;
}

.App__header__input {
  height: 35px;
  width: 250px;
  margin: 5px 0 0 15px;
  border-radius: 5px;
}

.App__header__span {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 1rem;
  color: white;
}

.App__modalbg {
  background-color: rgba(129, 129, 129, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  top: 0;
}

.App__modal {
  background-color: red;
  margin: auto;
  vertical-align: middle;
  width: 90%;
  height: 90%;
}

.searchTerm {
  color: black;
  margin-top: 50px;
}

@media only screen and (max-width: 600px) {
  .App__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin: 50px auto 0 auto;
    width: 95%;
  }
}
